<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}
<body>
    
    {% include "includes/header.html" %}
    <main>
        <h2>TODO WEB APP AND API</h2>
        <p>Welcome to the Todo Web App and API. This application allows you to manage your tasks. You can list all tasks, add a task, update a task, and delete a task.</p>
        <p>Click on the buttons below to get started.</p>
        <div class="buttons">
            <a href="/tasks">LIST ALL TASKS</a>
            <a href="/add">ADD TASK</a>
            <a href="/delete">DELETE TASK</a>
        </div>
    </main>
    
</body>
</html>